<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title><%= yield_content(:title) || "Beyond Code" %></title>
    <meta content="<%= yield_content(:title) || 'Beyond Code' %>" property="og:title">
    <meta content="<%= yield_content(:description) || 'A Changelog Films Production' %>" property="og:description">
    <meta name="description" content="<%= yield_content(:description) || 'A Changelog Films Production' %>">
    <meta content="Beyond Code" property="og:site_name">
    <meta content="http://beyondcode.tv<%= current_page.url %>" property="og:url">
    <meta content="<%= yield_content(:pull_image) || 'http://beyondcode.tv/images/share.jpg' %>" property="og:image">

    <script src="//use.typekit.net/ijy4jab.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>" data-template="<%= template_name %>">
    <header class="site_header">
      <nav class="site_header-logo">
        <h1><a href="/" title="Beyond Code">Beyond Code</a></h1>
        <h2>A Changelog Films Production</h2>
      </nav>
    </header>

    <%= yield %>

    <%= partial "footer" %>

    <!-- Modal Template -->
    <div class="modal">
      <div class="modal-inner">
        <div class="modal-content"></div>
      </div>
    </div>
    <%= javascript_include_tag :all %>
  </body>
</html>
