<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= yield_content(:title) || "Beyond Code" %></title>

    <script src="//use.typekit.net/ijy4jab.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <header class="site_header">
      <nav class="site_header-logo">
        <h1><a href="/" title="Beyond Code">Beyond Code</a></h1>
        <h2>A Changelog Films Production</h2>
      </nav>
    </header>

    <%= yield %>

    <%= partial "footer" %>
    <div class="modal">
      <div class="modal-inner">
        <a rel="modal:close">Close</a>
        <div class="modal-content"></div>
      </div>
    </div>
    <%= javascript_include_tag :all %>
  </body>
</html>
