<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= yield_content(:title) || "Beyond Code" %></title>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <header class="row">
      <div class="col">
        <h1><a href="/" title="Beyond Code">Beyond Code</a></h1>
        <h2>A Changelog Films Production</h2>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
