<article class="episode">
  <div class="embed-wrapper">
    <div id="player" data-id="<%= episode.youtube_id %>"></div>
  </div>

  <%= partial "sponsors", locals: {season: episode.season} unless parent == "modal" %>
  <div class="episode_info">
    <div class="episode_info-wrap">
      <div class="episode_info-meta">
        <h2><%= link_to episode.title, episode.path %></h2>
        <p class="episode-twitter_link"><%= link_to "@#{episode.twitter}", "http://twitter.com/#{episode.twitter}" %></p>
      </div>
      <div class="episode_info-links">
        <% episode.links.each do |link| %>
          <%= link_to link.title, link.url %>
        <% end %>
      </div>
    </div>
  </div>
</article>
