<% content_for :title, season.html_title %>
<% content_for :description, "Video interviews with #{season.title} attendees. A Changelog Films production." %>
<% content_for :pull_image, "http://beyondcode.tv/images/season-#{season.number}/banner.jpg" %>

<div class="season-banner season-banner--<%= season.number %> season-banner--large" data-src="<%= season.image_path %>" data-src-retina="<%= season.image_path_retina %>" data-src-bg>
  <header class="season-banner-header">
    <p class="season-number"><%= season.number_with_padding %></p>
    <h1><%= season.title %></h1>
    <h2><%= season.location %> (<%= season.year %>)</h2>
    <% if season.has_episodes? %>
      <div class="season-banner-play">
        <a href="#modal" title="Play All Episodes" class="season-banner-play-icon" rel="modal:open">Play All</a>
        <h3>
          <a id="all" data-first="<%= season.episodes.first.path %>" href="#modal" title="Play All Videos" rel="modal:open">Play All</a>
        </h3>
        <% if season.has_trailer? %>
          <p>
            <a id="trailer" data-id="<%= season.youtube_id %>" href="#modal" title="View Season Trailer" rel="modal:open">or View Trailer</a>
          </p>
        <% end %>
      </div>
    <% else %>
      <div class="season-banner-play season-banner-play--soon">
        <h3>Coming Soon</h3>
      </div>
    <% end %>
  </header>
</div>

<div id="modal" style="display:none;">
  <div class="embed-wrapper">
    <div id="player"></div>
  </div>

  <div class="episode_info">
    <div id="single-info" class="episode_info-wrap">
    </div>
  </div>
</div>

<%= partial "sponsors", locals: {season: season} %>

<ol class="episode_list">
  <% season.episodes.each do |episode| %>
    <li class="episode_list-item">
      <a href="<%= episode.path %>" title="View Episode">
        <img class="episode_list-item-image" src="/images/episode-blank.png" data-src="<%= episode.image_path %>" data-src-retina="<%= episode.image_path_retina %>" alt="<%= episode.title %>">
        <div class="episode_list-item-info">
          <h2><%= episode.title %></h2>
          <p class="episode-twitter_link"><%= "@#{episode.twitter}" %></p>
        </div>
      </a>
    </li>
  <% end %>
</ol>

<section class="ctas">
  <% if season.prev_film %>
    <%= partial "cta", locals: {season: season.prev_film} %>
  <% else %>
    <%= partial "cta_all" %>
  <% end %>

  <% if season.next_film %>
    <%= partial "cta", locals: {season: season.next_film} %>
  <% else %>
    <%= partial "cta_all" %>
  <% end %>
</section>
