<% content_for :title, "Beyond Code Season #{season.number} – #{season.title}" %>

<div class="hero">
  <div class="content">
    <div class="season-banner season-banner-<%= season.number %>">
      <header class="season-banner-header">
        <p class="season-number">0<%= season.number %></p>
        <h1><%= season.title %></h1>
        <h2><%= season.location %> (2014)</h2>
      </header>
    </div>

    <%= partial "sponsors", locals: {season: season} %>
  </div>
</div>

<ol class="video-list">
  <% season.episodes.each do |episode| %>
    <li class="video-list-item">
      <a href="<%= episode.path %>">
        <h2><%= episode.title %></h2>
        <img src="/images/season-<%= season.number %>-<%= episode.slug %>.jpg" alt="<%= episode.title %>">
      </a>
    </li>
  <% end %>
</ol>

<section class="ctas">
  <% Season.published(data).each do |season| %>
    <article class="season-banner season-banner-<%= season.number %>">
      <a href="<%= season.path %>" title="View Season <%= season.number %>">
        <header class="season-banner-header">
          <p class="season-number">0<%= season.number %></p>
          <h1><%= season.title %></h1>
          <h2><%= season.location %> (2014)</h2>
        </header>
      </a>
    </article>
  <% end %>
</section>
