<% content_for :title, "Beyond Code Season #{season.number} – #{season.title}" %>

<div class="hero">
  <div class="content">
    <%= partial "embed", locals: {id: season.youtube_id} %>

    <% if season.sponsors.any? %>
      <p>Sponsor Love! Thank you to our gracious sponsors for supporting Season <%= season.number %>.</p>
      <div class="sponsors row">
        <% season.sponsors.each do |sponsor| %>
          <div class="col">
            <%= link_to sponsor.name, sponsor.url %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="videos">
  <ol>
    <% season.episodes.each do |episode| %>
      <li>
        <a href="<%= episode.path %>">
          <img src="<%= episode.thumbnail_url %>" alt="<%= episode.title %>">
        </a>
      </li>
    <% end %>
  </ol>
</div>
