<% content_for :title, "Beyond Code Season #{season.number} – #{season.title}" %>

<div class="season-banner season-banner--<%= season.number %> season-banner--large">
  <header class="season-banner-header">
    <p class="season-number"><%= season.number_with_padding %></p>
    <h1><%= season.title %></h1>
    <h2><%= season.location %> (<%= season.year %>)</h2>
    <% if season.episodes.any? %>
      <div class="season-banner-play">
        <a href="#modal-1" title="View Season Trailer" class="season-banner-play-icon" rel="modal:open">Play All</a>
        <h3><a href="#modal-1" title="Play All Videos" rel="modal:open">Play All</a></h3>
        <p><a href="#modal-1" title="View Season Trailer" rel="modal:open">or View Trailer</a></p>
      </div>
    <% else %>
      <div class="season-banner-play season-banner-play--soon">
        <h3>Coming Soon</h3>
      </div>
    <% end %>
  </header>
</div>

<% if season.episodes.any? %>
  <div id="modal-1" style="display:none;"><%= partial "episode", locals: {episode: season.episodes.first, parent: "modal"} %></div>
<% end %>

<%= partial "sponsors", locals: {season: season} %>

<ol class="episode_list">
  <% season.episodes.each do |episode| %>
    <li class="episode_list-item">
      <a href="<%= episode.path %>">
        <img class="episode_list-item-image" src="<%= episode.image_path %>" alt="<%= episode.title %>">
      </a>
      <div class="episode_list-item-info">
        <h2><%= link_to episode.title, episode.path %></h2>
        <p class="episode-twitter_link"><%= link_to "@#{episode.twitter}", "http://twitter.com/#{episode.twitter}" %></p>
      </div>
    </li>
  <% end %>
</ol>

<section class="ctas">
  <% if season.next >= 1 %>
    <%= partial "cta", locals: { season: Season.published(data).last } %>
  <% else %>
    <%= partial "cta_all" %>
  <% end %>
  <% if season.prev >= 1 %>
    <%= partial "cta", locals: { season: Season.published(data).first } %>
  <% else %>
    <%= partial "cta_all" %>
  <% end %>
</section>
