<% content_for :title, episode.html_title %>
<% content_for :description, "An interview with #{episode.title} at #{episode.season.title}. A Changelog Films production."%>
<% content_for :pull_image, "http://beyondcode.tv/#{episode.image_path}" %>

<article id="single" class="episode" data-id="<%= episode.youtube_id %>" data-prev="<%= episode.prev_path %>" data-next="<%= episode.next_path %>"
>
  <div class="embed-wrapper">
    <div id="player"></div>
  </div>

  <%= partial "sponsors", locals: {season: episode.season} %>

  <div class="episode_info">
    <div class="episode_info-wrap">
      <%= partial "player_controls" %>
      <div id="single-info" class="episode_info-meta">
        <h2><%= link_to episode.title, episode.path %></h2>
        <% if episode.twitter %>
          <p class="episode-twitter_link">
            <%= link_to "@#{episode.twitter}", episode.twitter_url %>
          </p>
        <% end %>
        <ul class="episode_info-meta-links">
          <li><%= link_to "Watch on YouTube", episode.youtube_url %></li>
          <% episode.links.each do |link| %>
            <li><%= link_to link["title"], link["url"] %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</article>

<section class="ctas">
  <%= partial "cta", locals: {season: episode.season} %>
  <%= partial "cta_all" %>
</section>
